.container {
    display: flex;
    width: 100%;
    background-color: rgb(226, 216, 255);
    align-items: center;
    justify-content: space-around;
    height: 100px;
    position: fixed
}

.underline {
    background-color: white;
    width: 0%;
    height: 2px;
    transition: 0.33s ease;
}

.hovered_underline {
    background-color: white;
    width: 100%;
    height: 2px;
    transition: 0.33s ease;
}

.default_item {
    font-size: 32;
    font-style: normal;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.33s ease;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.hovered_item {
    margin-bottom: 10px;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    text-decoration: underline;
    font-size: 32;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.33s ease;
}