.container {
    align-self: center;
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    background-color: brown;
    margin-left: 14%;
    margin-right: 14%;
}

.mainText {
    font-size: 46;
    font-weight: 500;
}

.secondText {
    font-size: 38;
    font-weight: 100;
    font-style: italic;
}

.textContainer {
    text-align: left;
}

.firstImage {
    width: 200;
    height: 300;
    background-color: blue;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.secondImage {
    width: 200;
    height: 200;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 50%;
    top: 50%;
}

.imageContainer {
    display: flex;
    position: relative;
}