.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pagesContainer {
    margin-top: 60px;
}

.decoration1 {
    display: flex;
    width: 40%;
    margin-left: 6.5%;
    height: 2px;
    background-color: #F098B5;
    transition: 0.5s ease;
}

.decoration2 {
    margin-left: 16.5%;
    transform: translateX(100%);
    transition: 0.5s ease;
    display: flex;
    width: 40%;
    height: 2px;
    background-color: #F098B5;
}

.underDecorations {
    margin-top: 5px;
}

.textContainer {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.clickedPageText {
    transition: 0.5s ease;
    transform: scale(0.94, 0.94);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    width: 33%;
    cursor: pointer;
}

.pageText {
    transition: 0.5s ease;
    transform: scale(1, 1);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 26px;
    width: 33%;
    cursor: pointer;
}

.hoveredPageText {
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 26px;
}

.nothing {
    font-size: 26px;
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
}

.table {
    width: 50%;
    margin-top: 40px;
    text-align: left;
    justify-content: center;
}

/* Добавим анимацию для появления таблицы */
@keyframes fadeInTable {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Элементы начинают с небольшой вертикальной позиции */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tableBody {
    animation: fadeInTable 0.5s ease-out;
    /* Применяем анимацию к таблице */
}

.tableBodyStaggered {
    animation: fadeInTable 0.5s ease-out;
    /* Повторное применение анимации при изменении данных */
}