.container {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.textContainer {
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}

.verticalBar {
    background-color: black;
    width: 2px;
    height: 100%;
    display: flex;
}