.container {
    margin-top: 60px;
    display: flex;
    position: relative;
    z-index: -1;
}

.imageFrame {
    background-color: #E4D8E2;
    z-index: -1;
    width: 300px;
    height: 400;
    top: -4%;
    right: 14%;
    position: absolute;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 300px;
    margin-left: 24px;
}

.nameText {
    font-size: 24px;
    font-weight: 500;
}

.subText {
    margin-top: 8px;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 100;
}

.description {
    margin-top: 16px;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 15px;
}

.decorationText {
    display: flex;
    width: 1px;
    background-color: black;
    margin-top: 40px;
}

.descriptionBlock {
    display: flex;
    flex-direction: row;
}