.container {
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 216, 255);
    position: fixed;
}

.decorateItem {
    width: 2px;
    background-color: black;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.item {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: 0.33s ease;
}

.hovered_item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    filter: invert(100%);
    transition: 0.33s ease;
}